.info{
    /* nao defino altura e largura para que ela possa esticar
    quando tiver conteudo */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    margin-left: 22rem;
    margin-right: 22rem;
}

.created{
    display: flex;
    gap: 0.5rem;
}

.created p{
    color: var(--blue);
}

.completed{
    display: flex;
    gap: 0.5rem;
}

.completed p{
    color: var(--blue);
}
