.info {
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: space-between; /* Distribui os itens entre os dois extremos */
    align-items: center;
    margin-top: 4rem;
    width: 46rem; /* Largura da div */
    margin-left: auto; /* Centraliza a div na página */
    margin-right: auto; /* Centraliza a div na página */
    /* O valor auto faz com que o navegador distribua automaticamente a margem restante igualmente entre o lado esquerdo e o lado direito do elemento. */
    /* O espaço restante é dividido igualmente entre a margem esquerda e a margem direita, centralizando o elemento no eixo horizontal. */
    /* Isso só funciona corretamente quando o elemento tem uma largura definida, como no nosso caso, onde a div possui width: 46rem */
}

.created, .completed {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.created p {
    color: var(--blue);
}

.created span, .completed span {
    color: var(--gray-200); 
    font-size: 0.75rem;
    border-radius: 999px;
    background: var(--gray-400);
    /* 2 vertical e 8 horizontal */
    padding: 2px 8px;
}


.completed p{
    color: var(--purple);
}

.boxEmpty{
    /* nao defino altura e largura para que ela possa esticar
    quando tiver conteudo */
    margin-top: 1.5rem;
    width: 46rem;
    margin-left: auto; /* Centraliza a div na página */
    margin-right: auto; /* Centraliza a div na página */
    display: flex;
    /* padrao é flex direction: row; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0 0; /* Superior esquerdo, superior direito, inferior direito, inferior esquerdo */
    border: 1px solid var(--gray-400);
    border-bottom: none; /* Remove a borda inferior */
    border-right: none; /* Remove a borda inferior */
    border-left: none; /* Remove a borda esquerda */
}
.boxEmpty img{
    padding-top: 4rem;
}

.boxEmpty p{
    color: var(--gray-300);
}

.bold{
    padding-top: 1rem;
    font-weight: bold;
}

/* div(ul) que engloba as listas (li) */
.taskList{ 
    margin-top: 1.5rem;
    margin-left: auto; /* Centraliza a div na página */
    margin-right: auto; /* Centraliza a div na página */
    display: flex;
    /* padrao é flex direction: row; */
    gap: 0.75rem;
    /* distancia entre os filhos(li) */
    flex-direction: column;
    /* justify-content: center;
    align-items: center;  nao precisa*/
    width: 46rem;
    padding: 0;
}


.completedTask{
    width: 100%; /* Ocupa toda a largura disponível */
    background-color: var(--gray-500);
    border-radius: 0.5rem;
    display: flex;
    gap: 0.75rem;
    justify-content: space-between;
    /* alinhamento vertical */
    align-items: center;
    padding: 1rem;
}

.incompletedTask{
    width: 100%; /* Ocupa toda a largura disponível */
    background-color: var(--gray-400);
    border-radius: 0.5rem;
    display: flex;
    gap: 0.75rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    
    
}



.checkbox{
    cursor: pointer;
}


.completedText{
    font-size: 14px;
    color: var(--gray-300);
    text-decoration: line-through;
    max-width: 624px;
    overflow-wrap: break-word; /* Garante a quebra de palavras longas (que ultrapassem o limite de largura) */  
}
.incompletedText{
    font-size: 14px;
    color: var(--gray-100);
    max-width: 624px;
    overflow-wrap: break-word; /* Garante a quebra de palavras longas (que ultrapassem o limite de largura) */
    
    
}

.trash{
    background: none;
    cursor: pointer;
}

